In [1]:
import pandas as pd
import numpy as np
import psycopg2
np.random.seed(42)
exams = pd.read_csv('exams.csv')

In [2]:
print(exams.head(1))
print(exams.columns)

   gender race/ethnicity parental level of education     lunch
0  female        group D                some college  standard  \

  test preparation course  math score  reading score  writing score
0               completed          59             70             78
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [3]:
exams.drop(['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course'], axis=1, inplace=True)

In [4]:
exams

     math score  reading score  writing score
0            59             70             78
1            96             93             87
2            57             76             77
3            70             70             63
4            83             85             86
..          ...            ...            ...
995          77             77             71
996          80             66             66
997          67             86             86
998          80             72             62
999          58             47             45

[1000 rows x 3 columns]

In [7]:
# Use an external config.py file instead to store the credentials
import config
print(config.hostname)

# Copy this (or something similar) into config.py:
# hostname = 'localhost'
# database = 'postgres'
# username = 'postgres'
# pwd = None # need to add this
# port_id = 5433

localhost

In [8]:
try:
  # need to download postgres and supply your own info 
  # with password and stuff
  connection = psycopg2.connect(host = config.hostname,
                                dbname = config.database,
                                user = config.username,
                                password = config.pwd,
                                port = config.port_id)

  cur = connection.cursor()

  cur.execute('explain (format json, analyze) select * from exams_sample')
  result = cur.fetchone()[0][0]
  print(result['Plan']['Plan Rows'])
  print(result['Plan']['Actual Rows'])

except Exception as error:
  print(error)
finally:
  if cur:
    cur.close()
  if connection:
    connection.close()

1000
1000